{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "useTabs": true
      }
    }
  ]
}
